#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#speaker {
  background-color: white;
}

.wrapper {
  display: flex;
  width: 100%;
  border: 1px solid red;
}

.row-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.row {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .dialogue-type {
    width: 10%;
  }
  .dialogue-input {
    flex: 1;
  }
  .speakerOptionWrapper {
    width: 12%;
  }
  .emotion-type {
    width: 10%;
  }
  .position-type {
    width: 7.5%;
  }
  .label-input {
    width: 6%;
  }
  .response {
    flex: 1;
    // position: absolute;
    // bottom: -2rem
  }
}
