#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: calc(2rem);
  text-align: center;
}

#speaker {
  background-color: white;
}

.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  // width: 100%;
  // border: 1px solid red;
}
.row-droppable {
  display: flex;
  flex-flow: column;
  // flex: 1
  width: 100%;
  // border: 1px solid red;
}

.row-wrapper {
  // border: 1px solid red;
  position: relative;
  display: flex;
  flex-flow: column;
  // flex: 1;
  // width: 10%;
  // height: 55px;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  // margin-right: 60px;
  .drag-handle-wrapper {
    display: flex;
    // align-items: self-start ;
    justify-content: center;
    position: absolute;
    height: 40px;
    left: -40px;
    top: 5px;
    .drag-handle {
      // position: absolute;
      height: 30px;
    }
  }
  .row {
    // height: 40px;
    // border: 3px solid white;
    // position: absolute;
    padding-bottom: 10px;
    display: flex;
    position: relative;
    width: 100%;
    // justify-content: center;
    align-items: center;
    .delete-row-btn-wrapper {
      // position: absolute;
      width: 60px;
      // width: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .add-res-btn-wrapper {
      width: 5%;
      // margin-left: 5px;
      // margin-right: 5px;
      // width: 4%;
    }
    .delete-row-btn {
      display: none;
      z-index: 1;
    }
    .label-input {
      width: 6%;
    }
    .dialogue-type {
      width: 10%;
    }
    .dialogue-input {
      flex: 1;
    }
    .speakerOptionWrapper {
      width: 10%;
    }
    .emotion-type {
      width: 10%;
    }
    .position-type {
      width: 7.5%;
    }
    .location-type {
      width: 10%;
    }
    .harmony-type {
      width: 10%;
    }
    .harmony-amount-type {
      width: 5%;
    }
    .harmony {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .response {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: center;
    margin-left: 10%;
    .dialogue-input {
      flex: 1;
      // border: 1px solid red;
      // display: flex;
      // width: 200px;
    }
    .next-input {
      // margin-left: 4.5%;
      width: 11.2%;
    }
    .res-spacer {
      width: 40px;
      height: 40px;
    }
    .res-spacer-right {
      width: 37.2%; // i hate this
      // width: calc(60px + 33.5%); // i hate this
      // width: calc(43.5%); // i hate this
      height: 40px;
    }
    .delete-wrapper {
      width: 7.5%;
      display: flex;
      height: auto;
      .delete-btn {
        display: flex;
        flex: 1;
      }
    }
  }
}
.row:hover + .hide {
  display: flex;
}
.row:hover {
  .hide {
    display: flex;
  }
}
.hide {
  display: none;
}
.add-row-btn-wrapper {
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 60px;
  .add-row-btn {
    // display: flex;
    position: absolute;
    bottom: 0px;
    right: calc(60px);
  }
}

.home-wrapper {
  display: flex;
  justify-content: left;
  flex-flow: column;
  flex: 1;
  .project-wrapper {
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    height: 100px;
    width: 230px;
    display: flex;
    // overflow: hidden;
    text-overflow: ellipsis;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .version {
    position: absolute;
  }
}
.project-wrapper {
  &:hover {
    .hide {
      display: flex;
    }
  }
}
.project-delete-btn-wrapper {
  position: absolute;
  margin-right: 260px;
  margin-bottom: 130px;
}
.delete-project-btn {
  position: absolute;
}

.info-row-wrapper {
  display: flex;
  flex-direction: row;
}
.info-fields-wrapper {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  // border: 1px solid red;
  .info-field {
    padding-bottom: 10px;
  }
  .time-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
  justify-content: center;
}
.change-btn-wrapper {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  // border: 1px solid red;
}
.bold {
  font-weight: bold;
}
.title-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  // border: 1px solid red;
  .info {
    .info-wrapper {
      padding-left: 30px;
      padding-right: 30px;
      max-width: 500px;
      height: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
    justify-content: left;
    display: flex;
    height: 90px;
    // flex: 1;
    margin-top: 0px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    border-bottom: 1px solid black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    &:hover {
      border-color: aqua;
    }
    // border: 1px solid red;
    .stats {
      display: flex;
      // flex-direction: column;
      text-align: left;
      td {
        border-bottom: 1px solid black;
      }
      padding-left: 60px;
    }
  }
  .save-script-btn-wrapper,
  .export-script-btn-wrapper {
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    .save-script-btn {
      // display: flex;
      position: absolute;
      top: 15px;
      right: calc(60px);
    }
    .export-script-btn {
      // display: flex;
      position: absolute;
      top: 15px;
      right: calc(140px);
    }
  }
  .home-btn {
    // display: flex;
    position: absolute;
    top: 15px;
    left: 60px;
  }
  .home-btn-wrapper {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  .load-btn-wrapper {
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  .load-btn {
    // display: flex;
    position: absolute;
    top: 15px;
    left: 140px;
  }
}
