#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#speaker {
  background-color: white;
}

.wrapper {
  display: flex;
  width: 100%;
  border: 1px solid red;
}

.row-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  .row {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .label-input {
      width: 6%;
    }
    .dialogue-type {
      width: 10%;
    }
    .dialogue-input {
      flex: 1;
    }
    .speakerOptionWrapper {
      width: 12%;
    }
    .emotion-type {
      width: 10%;
    }
    .position-type {
      width: 7.5%;
    }
  }
  .response {
    display: flex;
    flex: 1;
    // margin-left: 16%;
    .padding {
      width: 16%;
    }
    .dialogue-input {
      flex: 1;
    }
    .next-input {
      width: 22%;
    }
    .delete-wrapper {
      .delete-btn {
        display: flex;
        flex: 1;
      }
        width: 7.5%;
      display: flex;
      height: auto;
    }
  }
  .add-res-btn {
    // display: flex;
    position: absolute;
    bottom: -40px;
  }
}
